* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.body {
    padding: 3rem 0;
    color: #5a5a5a
}

.custom-container {
    max-width: 1216px;
    margin: auto
}

@media (max-width: 768px) {
    .custom-container {
        max-width: 94%
    }

    .custom-container img {
        border-radius: 5px;
        width: 100%
    }
}

.custom-card {
    position: relative
}

.custom-card-overlay {
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #0f0f0f
}

.custom-card-overlay h1,
h5 {
    margin: 0
}

.custom-card img {
    border-radius: 7px;
    width: 100%
}

.custom-card-overlay h1 {
    padding-top: 1.5rem;
    font-weight: 500
}

.custom-card-overlay h5 {
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-card-overlay {
        top: 18%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%)
    }

    .custom-card-overlay h1 {
        font-size: 2rem;
        padding-top: 6.5rem;
        font-weight: 500
    }

    .custom-card-overlay h5 {
        margin-bottom: .5rem;
        font-weight: 500
    }
}

.custtom-section img {
    width: 100%
}

.custom-section h1,
h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-weight: 500
}

.custom-section p {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-section h1 {
        margin: 2rem 0 .8rem;
        font-weight: 500
    }

    .custom-section p {
        font-weight: 500
    }
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width: 768px) {
    .custom-row {
        flex-direction: column
    }

    .custom-row .custom-col-left {
        margin-bottom: 1rem
    }
}

.custom-row .custom-col-left {
    width: 56.33333333%;
    flex: 0 0 auto
}

.custom-row .custom-col-left h2 {
    margin-top: -6rem;
    text-align: center;
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-row .custom-col-left h2 {
        margin: 2rem 0 .8rem;
        font-weight: 500
    }
}

.custom-row .custom-col-left p {
    font-weight: 300 !important;
    text-align: center
}

@media (max-width: 768px) {
    .custom-row .custom-col-left {
        width: 100%
    }

    .custom-row .custom-col-left p {
        margin: 0;
        font-weight: 500
    }

    .custom-row .custom-col-right h2,
    .custom-row .custom-col-right p {
        font-weight: 500
    }
}

.custom-row .custom-col-right h2,
.custom-row .custom-col-right p {
    text-align: center;
    font-weight: 500
}

.custom-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0 0;
    width: fit-content;
    height: auto
}

.custom-button-svg svg {
    color: gray;
    width: 20px !important;
    height: auto
}

.last-row {
    margin: 20px 0
}

#myCarousel {
    width: 100%;
    overflow: hidden;
    position: relative
}

.carousel-inner {
    display: flex;
    transition: transform .5s ease-in-out
}

.carousel-item {
    width: 100%;
    flex: 0 0 auto
}

button {
    cursor: pointer
}

@media (min-width:1000px) {
    .carousel-caption {
        position: absolute;
        top: 40%;
        right: 40%;
        max-width: 600px
    }
}

.carousel-caption {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center
}

.carousel-caption h1 {
    font-weight: 500
}

.container-carousel {
    width: 100%;
    overflow: hidden;
    position: relative
}

.carousel-caption p:last-child {
    margin-top: 20px
}

.carousel-caption p a {
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(33, 55, 228), 205, 217;
    padding: 10px
}

.text-white h2,
.text-white p {
    color: #d6d6d6
}

.carousel-item1 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/car02_068b9261-2253-418b-8e70-abb88d9deb71.png?v=1700577020);
    height: 500px
}

.carousel-item2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/car03_f9689453-7f1f-42e8-a069-962e36873bba.png?v=1700577020);
    height: 500px
}

.carousel-item3 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/car04_70739a14-5ecc-41f7-88a9-46bf145c9384.png?v=1700577020);
    height: 500px
}

/*# sourceMappingURL=/s/files/1/0761/2458/6273/files/styles_fddfecb1-1e8a-47df-aa9b-7719dbb113ff.css.map?v=1700577643%3Fattachment%3D1 */