* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.body {
    padding: 3rem 0;
    color: #5a5a5a
}

.custom-container {
    max-width: 1216px;
    margin: auto
}

@media (max-width: 768px) {
    .custom-container {
        max-width: 94%
    }

    .custom-container img {
        border-radius: 5px;
        width: 100%
    }
}

.custom-card {
    position: relative
}

.custom-card-overlay {
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1f1f1f
}

.custom-card-overlay h1,
h5 {
    margin: 0
}

.custom-card img {
    border-radius: 7px;
    width: 100%
}

.custom-card-overlay h1 {
    padding-top: 1.5rem;
    font-weight: 500
}

.custom-card-overlay h5 {
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-card-overlay {
        top: 30%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%)
    }

    .custom-card-overlay h1 {
        padding-top: 1.5rem;
        font-weight: 500
    }

    .custom-card-overlay h5 {
        margin-bottom: .5rem;
        font-weight: 500
    }
}

.custom-section {
    text-align: center
}

.custtom-section img {
    width: 100%
}

.custom-section h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-weight: 500
}

.custom-section p {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-section h1 {
        margin: 2rem 0 .8rem;
        font-weight: 500
    }

    .custom-section p {
        font-weight: 500
    }
}

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width: 768px) {
    .custom-row {
        flex-direction: column
    }

    .custom-row .custom-col-left {
        margin-bottom: 1rem
    }
}

.custom-row .custom-col-left {
    width: 56.33333333%;
    flex: 0 0 auto;
    text-align: center
}

.custom-row .custom-col-left h2 {
    margin-top: -6rem;
    text-align: center;
    font-weight: 500
}

@media (max-width: 768px) {
    .custom-row .custom-col-left h2 {
        margin: 2rem 0 .8rem;
        font-weight: 500
    }
}

.custom-row .custom-col-left p {
    font-weight: 300 !important;
    text-align: center
}

@media (max-width: 768px) {
    .custom-row .custom-col-left {
        width: 100%
    }

    .custom-row .custom-col-left p {
        margin: 0;
        font-weight: 500
    }

    .custom-row .custom-col-right h2,
    .custom-row .custom-col-right p {
        font-weight: 500
    }
}

.custom-row .custom-col-right h2,
.custom-row .custom-col-right p {
    text-align: center;
    font-weight: 500
}

.custom-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0 0;
    width: fit-content;
    height: auto
}

.custom-button-svg svg {
    color: gray;
    width: 20px !important;
    height: auto
}

#myCarousel {
    width: 100%;
    overflow: hidden;
    position: relative
}

.carousel-inner {
    display: flex;
    transition: transform .5s ease-in-out
}

.carousel-item {
    width: 100%;
    flex: 0 0 auto
}

button {
    cursor: pointer
}

@media (min-width:1000px) {
    .carousel-caption {
        position: absolute;
        top: 40%;
        right: 40%;
        max-width: 600px
    }
}

.carousel-caption {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center
}

.carousel-caption h1 {
    font-weight: 500
}

.container-carousel {
    width: 100%;
    overflow: hidden;
    position: relative
}

.carousel-caption p:last-child {
    margin-top: 20px
}

.carousel-caption p a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #00f;
    padding: 10px
}

.carousel-item1 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/Car0_0a4ddff2-64d7-4865-a255-033ea9d96dc9.png?v=1700159939);
    height: 500px
}

.carousel-item2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/Car1_3441a5c1-1a5a-4058-8cd7-a119839d6afe.png?v=1700159940);
    height: 500px
}

.carousel-item3 {
    background-image: url(https://cdn.shopify.com/s/files/1/0761/2458/6273/files/Car2_aaa39b97-d03c-43e5-afe1-d04b2663e3b6.png?v=1700159939);
    height: 500px
}

/*# sourceMappingURL=/s/files/1/0761/2458/6273/files/style_ef861db0-96cf-4107-9a51-aea5b4be1f41.css.map?v=1700161090%3Fattachment%3D1 */