.overview-content sup{font-size:0.5em;}
.overview-content .placeholder{padding-top: 100%;width: 100%;}

.overview-content .a{background-image:url(img/1710160819856_a.jpg);max-width:1920px;margin:0 auto;height:53.125em;background-position:50% 0;background-repeat:no-repeat;background-size:120em;font-size: 16px;text-align: center;}
.overview-content .a .w-container{width:80%;margin:0 auto;position: relative;height: 100%;}
.overview-content .a .text{padding-top: 17%;}
.overview-content .a .text h2{font-size:3.5em;font-weight:500;padding-bottom: 0.25em;line-height: 1.2;}
.overview-content .a .text p{font-size:1.875em;line-height: 1.5;font-weight: 400;}
.overview-content .a .icon{text-align: center;padding-top: 2em;}
.overview-content .a .icon .model-name{display: inline-block;vertical-align: middle;width: 11.875em;}
.overview-content .a .icon .wifi6{display: inline-block;vertical-align: middle;width: 7.25em;margin-left: 2em;}
@media (max-width:1680px){
  .overview-content .a{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .a{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .a{height:132vw;background-image:url(img/1710160820015_a.jpg);background-size:100%;font-size:10.35px;color: black;}
  .overview-content .a .w-container{width:100%;margin:0 auto;position: relative;height: 100%;}
  .overview-content .a .text{padding:39% 2.5em 0;text-align:left;width: 70%;}
  .overview-content .a .text h2{font-size:3.125em;}
  .overview-content .a .text p{font-size:2em;}
  .overview-content .a .icon{text-align: left;padding-top: 1em;}
  .overview-content .a .icon .model-name{height: 2.625em;}
  .overview-content .a .icon .wifi6{position: absolute;top:14%;left: 0;height: 5.8125em;}
}
@media (max-width:414px){
  .overview-content .a{font-size: 2.5vw;}
}

.overview-content .b{font-size:16px;background-color: rgb(228,230,232);max-width:1920px;margin:0 auto;}
.overview-content .b ul{text-align: center;padding:1.25em 0;}
.overview-content .b ul li{display: inline-block;width:25%;margin: 2.5em 0;}
.overview-content .b ul li .icon{display:inline-block;width: 5.5em; height: 5.5em;background-image:url(img/1710160820118_b-icon.png);background-size: auto 100%;vertical-align: top;margin-right: 2%;}
.overview-content .b ul .li-1 .icon{background-position: 0 0;}
.overview-content .b ul .li-2 .icon{background-position: -5.5em 0;}
.overview-content .b ul .li-3 .icon{background-position: -11em 0;}
.overview-content .b ul .li-4 .icon{background-position: -16.5em 0;}
.overview-content .b ul .li-5 .icon{background-position: -22em 0;}
.overview-content .b ul .li-6 .icon{background-position: -27.5em 0;}
.overview-content .b ul li .text{display:inline-block;width:65%;text-align: left;font-size: 1.25em;vertical-align: top;}
.overview-content .b ul li .text .title{font-weight: 500;padding-bottom: 0.5em;}
.overview-content .b ul li .text .desc{line-height: 1.2;}
@media (max-width:1680px){
  .overview-content .b{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .b{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .b{font-size:10.35px;}
  .overview-content .b ul li{width:45%;margin: 1.5em 0;}
  .overview-content .b ul li .text{width:90%;text-align: center;line-height: 1.2;}
}
@media (max-width:414px){
  .overview-content .b{font-size: 2.5vw;}
}

.overview-content .c{font-size:16px;max-width:1920px;margin:0 auto;padding:3em 0;text-align:center;}
.overview-content .c .w-container{width:80%;margin:0 auto;}
.overview-content .c h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .c p{font-size:1.25em;line-height:1.5;}
.overview-content .c .extra{margin-top:1em;}
.overview-content .c .extra a{color:rgb(0, 85, 100);}
@media (max-width:1680px){
  .overview-content .c{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .c{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .c{text-align:left;padding:3em 0;font-size:10.35px;}
  .overview-content .c .w-container{width:auto;margin: 0 20px;}
  .overview-content .c h2{font-size:2.5em;}
  .overview-content .c p{font-size:1.75em;}
}
@media (max-width:414px){
  .overview-content .c{font-size: 2.5vw;}
}

.overview-content .d{position: relative;font-size:16px;max-width:1920px;width:100%;height:44em;margin:0 auto;text-align:center;background-image: url(img/1710160820170_d1.jpg);background-size: auto 100%;background-repeat: no-repeat;}
.overview-content .d.second{background-image: url(img/1710160820288_d2.jpg);}
.overview-content .d .selector{width: 22%;height: 100%;position: absolute;top: 0;right: 0;}
.overview-content .d .selector .option{width: 100%;height: 50%;background-color: #4b5362;position: relative;color:#7c8492;}
.overview-content .d .selector .option.active{background-color: #0fb2ee;color: white;}
.overview-content .d .selector .option .icon{width: 6em;height:6em;background-image: url(img/1710160820366_d-select.png);background-size: auto 100%;position: absolute;bottom: 50%;left:0;right:0;margin: 0 auto;}
.overview-content .d .selector .op1 .icon{background-position: 0 0;}
.overview-content .d .selector .op2 .icon{background-position: -6em 0;}
.overview-content .d .selector .active .icon{filter: brightness(100);}
.overview-content .d .selector .option .desc{position: absolute;top: 50%;left:0;right:0;margin: 0 auto;font-size: 2em;font-weight: 400;width: 60%;}
.overview-content .d .selector .option.active .arrow{position: absolute;left: -3em;top: 50%;display: inline-block;width: 0;height: 0;border: 1.5em solid transparent;border-right-color: #0fb2ee;transform: translate(0,-50%);}
.overview-content .d .tab{display: none;color: white;position: absolute;top: 3em;left:0;right:26em;bottom: 0;}
.overview-content .d .tab.active{display: block}
.overview-content .d .text{text-align: left;width: 64%;margin:0 auto;}
.overview-content .d .text h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .d .text p{font-size:1.25em;line-height:1.5;}
.overview-content .d ul{margin-top: 3em;}
.overview-content .d ul li{display: inline-block;vertical-align: top;}
.overview-content .d ul .icon{width: 5.5em;height: 5.5em;background-image: url(img/1710160820407_d-icon.png);background-size: auto 100%;}
.overview-content .d ul .li-1{background-position: 0 0;}
.overview-content .d ul .li-3{background-position: -5.5em 0;}
.overview-content .d ul .desc{width: 12%;text-align: left;padding: 0.5em 2.5em 0 1em;}
.overview-content .d ul .desc p{font-size: 1.125em;}
.overview-content .d ul .desc .bold{font-weight: 400;} 
.overview-content .d .bar{width:60em;height:18em;background-image: url(img/1710160820428_d-bar.png);background-repeat: no-repeat;background-size: auto 100%;background-position: right;position:relative;margin: 0 auto;}
.overview-content .d .bar p{position: absolute;line-height: 1;}
.overview-content .d .bar p .number{font-size: 1.5em;}
.overview-content .d .bar .l{text-align: left;}
.overview-content .d .bar .l1{top:8%;left: 17%;font-size: 1.6125em;color: white;font-weight: 500;}
.overview-content .d .bar .l2{top:1%;left: 89.5%;font-size: 1.75em;color: white;font-weight: 500;width: 10%;}
.overview-content .d .bar .l3{top:22%;left: 65%;font-size: 1.2875em;color: #a7a9ac;}
.overview-content .d .bar .l4{top:33%;left: 85%;font-size: 2.15em;color: #00baff;font-weight: 500;width: 20%;}
.overview-content .d .bar .l5{top:64%;left: 17%;font-size: 1.6125em;color: white;font-weight: 500;}
.overview-content .d .bar .l6{top:57%;left: 56%;font-size: 1.75em;color: white;font-weight: 500;width: 10%;}
.overview-content .d .bar .l7{top:78%;left: 35.5%;font-size: 1.2875em;color: #a7a9ac;}
.overview-content .d .bar .l8{top:89%;left: 52.5%;font-size: 2.15em;color: #00baff;font-weight: 500;width: 20%;}
.overview-content .d .bar .r{text-align: right;}
.overview-content .d .bar .r1{top:22%;right: 84%;font-size: 0.9125em;color: #a7a9ac;}
.overview-content .d .bar .r2{top:37%;right: 84%;font-size: 1.1em;color: white;}
.overview-content .d .bar .r3{top:78%;right: 84%;font-size: 0.9125em;color: #a7a9ac;}
.overview-content .d .bar .r4{top:92.5%;right: 84%;font-size: 1.1em;color: white;}
.overview-content .d .tab .img{background-image: url(img/1710160820472_d-tag.png);width: 86%;padding-top: 32%;background-repeat: no-repeat;background-size: 100% auto;margin: 0 8% 0 6%;}
@media (max-width:1920px){
  .overview-content .d{font-size:0.833vw;}
}
@media (max-width:736px){
  .overview-content .d{text-align:left;padding:3em 0;font-size:10.35px;background-image: url(img/1710160820545_d1.jpg);background-size: 100% auto;width: auto;height: 60em;background-position: bottom;}
  .overview-content .d.second{background-image: url(img/1710160820655_d2.jpg);}
  .overview-content .d .selector{width: 100%;height: 124.2px;position: absolute;top: 0;font-size:0;}
  .overview-content .d .selector .option{width: 30%;height: 100%;background-color: #4b5362;position: relative;color:#7c8492;display: inline-block;vertical-align: top;font-size: 10.35px;;}
  .overview-content .d .selector .option.active{width: 70%;}
  .overview-content .d .selector .option .icon{top:0;bottom: 0;right:0;left:0;margin:auto;}
  .overview-content .d .selector .option.active .icon{top:0;bottom: 0;right:auto;left:20px;margin:auto 0;}
  .overview-content .d .selector .option .desc{display: none;}
  .overview-content .d .selector .option.active .desc{display: block;transform: translate(0, -50%);width: 65%;left:auto;}
  .overview-content .d .selector .option.active .arrow{left: 50%;top: 100%;transform: translate(-50%,0);border-top-color: #0fb2ee;border-right-color: transparent;}
  .overview-content .d .tab{top: 14em;left:0;right:0;bottom: 0;}
  .overview-content .d .tab .img{width: auto;padding-top:60%;background-size: 140% auto;margin: 2em 0 0;background-position: bottom;}
  .overview-content .d .text{width: auto;margin:0 20px;}
  .overview-content .d .text p{font-size:1.75em;}
  .overview-content .d ul{width: auto;margin:2em 20px;}
  .overview-content .d ul .desc{width: 27%;padding: 1em 1em 0 1em;}
  .overview-content .d ul .desc p{font-size: 1em;}
  .overview-content .d .bar{width:auto;margin:0 20px;height:23em;background-image: url(img/1710160820789_d-bar.png);background-size: 100% auto;background-position: bottom;}
  .overview-content .d .bar .l1{top:6%;left: 0%;}
  .overview-content .d .bar .l2{top:14%;left:82%;width:16%;}
  .overview-content .d .bar .l3{top:22%;left: 51%;}
  .overview-content .d .bar .l4{top:39%;left: 72%;width: 32%;}
  .overview-content .d .bar .l5{top:59%;left: 0%;}
  .overview-content .d .bar .l6{top:65.5%;left: 47.5%;width:16%;}
  .overview-content .d .bar .l7{top:75%;left: 20%;}
  .overview-content .d .bar .l8{top:90%;left: 40%;width: 32%;}
  .overview-content .d .bar .r{text-align: left;}
  .overview-content .d .bar .r1{top:16%;right: auto;left:0;}
  .overview-content .d .bar .r2{top:35%;right: auto;left:0;}
  .overview-content .d .bar .r3{top:69%;right: auto;left:0;}
  .overview-content .d .bar .r4{top:86%;right: auto;left:0;}
}
@media (max-width:414px){
  .overview-content .d{font-size: 2.5vw;}
  .overview-content .d .selector{height: 15%;}
  .overview-content .d .selector .option{font-size: 2.5vw;}
}

.overview-content .e{font-size:16px;max-width:1920px;margin:0 auto;padding-top:5em;text-align:center;}
.overview-content .e .w-container{max-width:80em;margin:0 auto;}
.overview-content .e h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .e p{font-size:1.25em;line-height:1.5;}
.overview-content .e .extra{margin-top:1em;}
.overview-content .e .extra a{color:#4acbd6;}
.overview-content .e .features{padding:2em 0;max-width:90em;margin:0 auto;}
.overview-content .e .features li{display: inline-block;width: 23%;}
.overview-content .e .features .icon{width: 4em;height: 4em;margin: auto;background-image: url(img/1710160820854_e-icon.png);background-repeat: no-repeat;background-size: auto 100%;display: inline-block;vertical-align: middle;}
.overview-content .e .features .li-1 .icon{background-position:0 0;}
.overview-content .e .features .li-2 .icon{background-position:-4em 0;}
.overview-content .e .features .li-3 .icon{background-position:-8em 0;}
.overview-content .e .features .info{display: inline-block;width:50%;padding-left: 0.75em;vertical-align: middle;}
.overview-content .e .features .info .text{font-size: 1.125em;text-align: left;}
.overview-content .e .img{position: relative;max-width: 80em;width:90%;margin: 4em auto 0;background-image: url(img/1710160820907_e.jpg);background-size: 100% auto;background-repeat: no-repeat;}
.overview-content .e .img .height{padding-top: 75%;width: 100%;}
.overview-content .e .img p{position: absolute;font-weight: 400;text-align: center;line-height: 1.2;}
.overview-content .e .img .internet{bottom:13%;left:44.5%;color: #fff;width:12%;font-weight: 500;}
.overview-content .e .img .access{bottom: 16%;left:25.5%;width:16%;}
.overview-content .e .img .b1{left:-1%;top:20%;width:12%;text-align: right;color: rgb(0, 85, 100);font-weight: 500;}
.overview-content .e .img .b2{left:29.5%;top:4%;width:16%;}
.overview-content .e .img .b3{left:54.5%;bottom:100%;width:12%;}
.overview-content .e .img .b4{left:68%;top:41%;width:12%;}
.overview-content .e .img .b5{left:66%;top:91%;width:16%;}
.overview-content .e .img .m1{left:-2.5%;top:91%;width:16%;}
.overview-content .e .img .m2{left:12.5%;top:91%;width:16%;}
.overview-content .e .img .r1{right:1%;top:22.5%;width:16%;}
.overview-content .e .img .r2{right:1%;top:46%;width:16%;}
.overview-content .e .img .or{right:5%;top:33%;width:8%;}
@media (max-width:1680px){
  .overview-content .e{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .e{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .e{padding:0;font-size:10.35px;}
  .overview-content .e .w-container{width:auto;}
  .overview-content .e .text{padding:0;text-align:left;}
  .overview-content .e h2{font-size:2.5em;line-height:1.2;padding:1.5em 20px 0;margin-bottom:0.5em;}
  .overview-content .e p{font-size:1.75em;line-height:1.5;padding:0 20px;}
  .overview-content .e .features{padding:3em 20px 0;text-align: left;}
  .overview-content .e .features li{width:49%;margin: 0 0 1em 0;}
  .overview-content .e .features .info{padding-left:0.25em;width:63%;}
  .overview-content .e .features .info .text{font-size:1.25em;padding-top:0.25em;}
  .overview-content .e .img{background-image: url(img/1710160820973_e.jpg);width: 80%;margin: 0 auto;}
  .overview-content .e .img .height{padding-top: 120%;width: 100%;}
  .overview-content .e .img p{font-size: 0.75em;font-weight: normal;padding: 0;}
  .overview-content .e .img .internet{bottom:31.5%;left:30.5%;color: #fff;width:16%;font-size:0.6em;}
  .overview-content .e .img .access{bottom: 27%;left: -5%;width: 24%;text-align: right;}
  .overview-content .e .img .b1{left:-9%;top:15%;width:16%;}
  .overview-content .e .img .b2{left:29%;top:3%;width:24%;}
  .overview-content .e .img .b3{left:60%;bottom:100.5%;width:24%;}
  .overview-content .e .img .b4{left:78%;top: 33%;width: 20%;}
  .overview-content .e .img .b5{left:57%;top:71%;width:24%;}
  .overview-content .e .img .m1{left:2%;top:87.5%;width: 20%;}
  .overview-content .e .img .m2{left:21%;top:87.5%;width: 20%;}
  .overview-content .e .img .r1{right:26%;top:86%;width: 25%;}
  .overview-content .e .img .r2{right:-0.5%;top:86%;width: 25%;}
  .overview-content .e .img .or{right:19%;top:81.5%;width: 12%;}
}

@keyframes f-line1{
  0% {transform: translate(2.332%,-4.871%);}
  100% {transform: translate(0,0);}
}
@keyframes f-line2{
  0% {transform: translate(-3.949%,-1.713%);}
  100% {transform: translate(0,0);}
}
@keyframes f-line3{
  0% {transform: translate(2.197%,-5.012%);}
  100% {transform: translate(0,0);}
}
@keyframes f-line4{
  0% {transform: translate(-3.949%,-1.713%);}
  100% {transform: translate(0,0);}
}
@keyframes f-start1{
  0% {opacity: 0;}
  24% {opacity: 0;}
  25% {opacity: 1;}
  74% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes f-start2{
  0% {opacity: 0;}
  19% {opacity: 0;}
  20% {opacity: 1;}
  74% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes f-stop{
  0% {opacity: 1;}
  49% {opacity: 1;}
  50% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.overview-content .f{font-size:16px;max-width:1920px;margin:0 auto;padding:4em 0;text-align:center;background-color: rgb(242, 242, 243);}
.overview-content .f .w-container{width:80%;margin:0 auto;}
.overview-content .f .text h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.75em;}
.overview-content .f .text h3{font-size:2.25em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .f .text p{font-size:1.25em;line-height:1.25;}
.overview-content .f ul{padding: 2em 0;}
.overview-content .f ul li{display: inline-block;text-align: center;position: relative;width: 45%;}
.overview-content .f ul .li-2{margin: 0 0 0 1em;}
.overview-content .f ul li img{width: 100%;}
.overview-content .f ul li .img{height:0;padding-bottom: 75%;position: relative;background: #f7f7f7;}
.overview-content .f ul li .img .abs{background-size: contain;background-repeat: no-repeat;background-position: 50%;height: 100%;position: absolute;width: 100%;will-change: transform;}
.overview-content .f ul li .img .line1{animation: f-line1 500ms linear infinite;background-image: url(img/1710160821039_f-line-1.png);}
.overview-content .f ul li .img .line2{animation: f-line2 500ms linear infinite;background-image: url(img/1710160821079_f-line-2.png);}
.overview-content .f ul li .img .line3{animation: f-line3 500ms linear infinite;background-image: url(img/1710160821139_f-line-3.png);}
.overview-content .f ul .li-1 .img .start1{animation: f-start1 8s linear infinite;opacity: 1;}
.overview-content .f ul .li-1 .img .start2{animation: f-start2 8s linear infinite;opacity: 1;}
.overview-content .f ul .li-1 .img .cover1{background-image: url(img/1710160821186_f-point-1.png);}
.overview-content .f ul .li-1 .img .cover2{background-image: url(img/1710160821238_f-point-3.png);}
.overview-content .f ul .li-2 .img .stop{animation: f-stop 8s linear infinite;}
.overview-content .f ul .li-2 .img .start{animation: f-stop 8s linear reverse infinite;}
.overview-content .f ul .li-2 .img .line3-red{background-image: url(img/1710160821297_f-line-3-red.png);}
.overview-content .f ul .li-2 .img .line4{background-image: url(img/1710160821367_f-line-4.png);animation: f-line4 500ms linear infinite;}
.overview-content .f ul .li-2 .img .xxx{background-image: url(img/1710160821406_f-xxx.png);}
.overview-content .f ul .li-2 .img .cover{background-image: url(img/1710160821457_f-point-4.png);}
.overview-content .f ul li p{position: absolute;margin: auto;top: 85%;left: 0;right: 0;font-weight: 500;font-size: 1.5em;} 
.overview-content .f ul li .new{color: rgb(0, 85, 100);}
@media (max-width:1680px){
  .overview-content .f{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .f{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .f{text-align:left;padding:2.5em 0;font-size:10.35px;}
  .overview-content .f .w-container{width:88%;margin:0 auto;}
  .overview-content .f .text h2{font-size:2.5em;}
  .overview-content .f .text h3{font-size:2em;}
  .overview-content .f .text p{font-size:1.75em;line-height:1.5;}
  .overview-content .f ul{text-align: center;padding-top: 1em;}
  .overview-content .f ul li{width: 100%;}
  .overview-content .f ul .li-2{margin: 1em 0 0 0;}
  .overview-content .f ul li p{top: 82%;font-size: 1.25em;} 
}

.overview-content .g{font-size:16px;max-width:1920px;margin:0 auto;padding:4em 0;text-align:center;}
.overview-content .g .w-container{max-width:72em;margin:0 auto;}
.overview-content .g .text h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .g .text p{font-size:1.25em;line-height:1.5;}
.overview-content .g img{width:70%;margin: 2em 0;}
@media (max-width:1680px){
  .overview-content .g{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .g{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .g{text-align:left;padding:2.5em 0;font-size:10.35px;;}
  .overview-content .g .w-container{width:auto;padding: 0 20px;}
  .overview-content .g .text h2{font-size:2.5em;}
  .overview-content .g .text p{font-size:1.75em;}
  .overview-content .g img{width:100%;}
}
@media (max-width:414px){
  .overview-content .g{font-size: 2.5vw;}
}

.overview-content .h{font-size:16px;max-width:1920px;width:100%;height: auto;margin:0 auto;text-align:center;position: relative;background-image:url(img/1710160821545_h.jpg);background-repeat:no-repeat;background-size:100% auto;background-position: bottom;background-color: #cccccc;}
.overview-content .h .video{width:100%;}
.overview-content .h .placeholder{padding-top: 47.5%;}
.overview-content .h .w-container{position: absolute;top: 0;left:10%;right:10%;margin: 0 auto;}
.overview-content .h .text{padding: 3em 0 0;}
.overview-content .h .text>ul{margin-left:22%;}
.overview-content .h .text h2{font-size:3.125em;font-weight:400;line-height:1.2;padding-bottom:0.5em;}
.overview-content .h .text p{font-size:1.875em;line-height: 1.5;font-weight: 400;}
.overview-content .h ul li{display: inline-block;vertical-align: top;}
.overview-content .h ul .number{height:2.8125em;width:3em;position: relative;}
.overview-content .h ul .number .icon{width: 1.25em;height: 1.25em;background-color: rgb(45,72,81);border-radius: 50%;color: white;line-height: 1.25;font-weight: 400;position: absolute;top:0;bottom: 0;margin: auto 0;text-align: center;}
.overview-content .h ul .desc{max-width: 36%;text-align: left;margin-right: 4%;}
.overview-content .h ul .desc .light{font-size: 1.25em;font-weight: 300;}
.overview-content .h ul .li-2{width:14%;}
.overview-content .h ul .li-4{width:36%;}
.overview-content .h .inst{display:none;position: absolute;top:72%;left: 38%;font-size: 1.375em;color: #4c5968;font-weight: 500;text-align: left;width: 13%;}
@media (max-width:1680px){
  .overview-content .h{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .h{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .h{font-size:10.35px;background-image:url(img/1710160821638_h.jpg);text-align: left;}
  .overview-content .h .video,
  .overview-content .h .placeholder{display: none;}
  .overview-content .h .w-container{width:auto;margin: auto 20px;padding-bottom: 116vw;position: static;}
  .overview-content .h .text{padding: 3em 0 0;}
  .overview-content .h .text>ul{margin-left:0;}
  .overview-content .h .text h2{font-size:2.5em;padding-bottom:0.5em;}
  .overview-content .h ul .desc{max-width: 45%;width:auto;}
  .overview-content .h .inst{display:block;top:100%;left: 71%;width:24%;transform: translate(0, -79vw);}
}
@media (max-width:414px){
  .overview-content .h{font-size: 2.5vw;}
}

.overview-content .i{font-size:16px;max-width:1920px;margin:0 auto;text-align:center;color: white;}
.overview-content .i .header{padding:6em 0 4em;width: 100%;background-color: rgb(45,72,81);text-align: center;}
.overview-content .i .header h2{font-size:3.125em;font-weight:400;line-height:1.2;}
.overview-content .i .content{background-color: rgb(49,76,84);}
.overview-content .i .content h3{font-size:1.5em;font-weight: 500;text-decoration: underline;padding: 1em 0 1.75em;}
.overview-content .i .content ul{padding-bottom: 4.5em;}
.overview-content .i ul li{display: inline-block;width: 24%;margin: 0 4%;vertical-align:text-top;position: relative;}
.overview-content .i ul li .icon{width: 5.5em; height: 5.5em;background: url(img/1710160821735_i-icon.png);background-size: auto 100%;margin: 0 auto 1em;}
.overview-content .i ul .li-2:before{content: "";position: absolute;left: -17%;top: 25%;width: 1px;height: 65%;background-color: rgb(90,112,118);}
.overview-content .i ul .li-2:after{content: "";position: absolute;right: -17%;top: 25%;width: 1px;height: 65%;background-color: rgb(90,112,118);}
.overview-content .i .security .li-1 .icon{background-position: 0 0;}
.overview-content .i .security .li-2 .icon{background-position: -5.5em 0;}
.overview-content .i .security .li-3 .icon{background-position: -11em 0;}
.overview-content .i .efficiency .li-1 .icon{background-position: -16.5 0;}
.overview-content .i .efficiency .li-2 .icon{background-position: -22em 0;}
.overview-content .i .efficiency .li-3 .icon{background-position: -27.5em 0;}
.overview-content .i ul li .title{font-size: 1.875em;line-height: 1.25;padding-bottom: 0.25em;font-weight: 400;}
.overview-content .i ul li .desc{font-size:1.25em;line-height: 1.4;}
@media (max-width:1920px){
  .overview-content .i{font-size:14px;}
}
@media (max-width:1440px){
  .overview-content .i{font-size:12px;}
}
@media (max-width:736px){
  .overview-content .i{font-size:10.35px;}
  .overview-content .i .header{padding:4.5em 20px 3.375em;text-align: left;width: auto;}
  .overview-content .i .header h2{font-size:2.5em;}
  .overview-content .i ul li{width: 60%;margin: 0 4% 2em;}
  .overview-content .i ul .li-2:before{display: none;}
  .overview-content .i ul .li-2:after{display: none;}
}
@media (max-width:414px){
  .overview-content .i{font-size: 2.5vw;}
}

