.overview-content { font-size:16px; }
.overview-content .w1366 { margin:0 auto; position:relative; width:85.375em; }
.overview-content .regular { font-weight: 400; }
.overview-content .medium { font-weight: 500; }
.overview-content .bold { font-weight: 700;}
.overview-content .m-show { display:none; }
.overview-content .nowrap { white-space:nowrap; }
.overview-content .text>h2 { font-size:3.125em; line-height:1.2; }
.overview-content .text>p { font-size:1.25em; line-height:1.5; padding-top:1.5em; }
@media screen and (max-width:1440px){
  .overview-content { font-size:12px; }
}
@media screen and (max-width:736px){
  html { font-size:10.35px; }
  .overview-content .m-light { font-weight: 300; }
  .overview-content .m-regular { font-weight: 400; }
  .overview-content .m-show { display:block; }
  .overview-content .w1366 { width:auto; }
  .overview-content .text>h2 { font-size:2.5rem; padding:4rem 6% 2rem; }
  .overview-content .text>p { font-size:1.75em; line-height:1.5; padding:0 6% 3rem; }
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .a { background:url(img/1710161242104_a.jpg) 50% no-repeat; background-size:120em auto; height:59.5625em; }
.overview-content .a .text { margin:0 auto; padding:16em 0 0; text-align:center; width:52em; }
.overview-content .a .text h2 { font-size:3.4375em; }
.overview-content .a .text .title { background:url(img/1710161242132_a-omada.png) 50% no-repeat; background-size:contain; color:transparent; display:block; height:2.875em; margin:1em auto 0; width:20.5em; }
@media screen and (max-width:736px){
  .overview-content .a { background:url(img/1710161242144_a.jpg) 50% 0 / 100% auto no-repeat; height:0; padding-bottom:133%; }
  .overview-content .a .text { padding:0; width:auto; }
  .overview-content .a .text h2 { font-size:7vw; padding:36vw 12vw 0; }
  .overview-content .a .text .title { background-image:url(img/1710161242158_a-omada.png); height:7.1875vw; margin-top:3vw; width:46.09375vw; }
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .b { background:#36424f; display:table; min-height:56em; width:100%; }
.overview-content .b .img { background:url(img/1710161242170_b.png) 50% no-repeat; background-size:100% auto; display:table-cell; vertical-align:middle; width:50%; }
.overview-content .b .content { display:table-cell; padding:10em 0; vertical-align:middle; width:50%; }
.overview-content .b .text { color:#fff; margin:0 auto; vertical-align:middle; text-align:left; width:39em; }
.overview-content .b .text .chart { margin-top:4em; }
.overview-content .b .text .chart .item { margin-top:1em; }
.overview-content .b .text .chart .item>* { display:inline-block; vertical-align:middle; }
.overview-content .b .text .chart .item .hz { font-size:1.25em; line-height:1.5; width:4em; }
.overview-content .b .text .chart .item .rect { height:1.75em; line-height:1.5; }
.overview-content .b .text .chart .item1 .rect { background-color:#00ccd8; width:26em; }
.overview-content .b .text .chart .item2 .rect { background-color:#ffcc00; width:9em; }
.overview-content .b .text .chart .item .mbps { font-size:1.25em; padding-left:0.5em; }
.overview-content .b .text .icons { margin-left:-2.5em; margin-top:4em; }
.overview-content .b .text .icons:after { clear:both; content:""; display:block; }
.overview-content .b .text .icons li { display:block; float:left; width:10em; }
.overview-content .b .text .icons li .icon { background-position:50%; background-size:contain; background-repeat:no-repeat; display:block; height:6em; margin:0 auto; width:6em; }
.overview-content .b .text .icons .li1 .icon { background-image:url(img/1710161242185_b-icon-1.png); }
.overview-content .b .text .icons .li2 .icon { background-image:url(img/1710161242197_b-icon-2.png); }
.overview-content .b .text .icons .li3 .icon { background-image:url(img/1710161242208_b-icon-3.png); }
.overview-content .b .text .icons .li4 .icon { background-image:url(img/1710161242221_b-icon-4.png); }
.overview-content .b .text .icons li span { display:block; font-size:1.125em; line-height:1.2; text-align:center; }
@media screen and (max-width:736px){
  .overview-content .b { background:#36424f url(img/1710161242232_b-2.png) 50% 0 / 100% auto no-repeat; display:block; height:auto; min-height:0; padding-top:56%; }
  .overview-content .b .img { display:none; }
  .overview-content .b .content { display:block; padding:0; width:auto; }
  .overview-content .b .text { display:block; padding:0; width:auto; }
  .overview-content .b .text .chart { font-size:2vw; margin:0 6%; }
  .overview-content .b .text .icons { margin:0; padding:3rem 0 4rem; }
  .overview-content .b .text .icons li { width:25%; }
  .overview-content .b .text .icons li .icon { height:5rem; width:5rem; }
  .overview-content .b .text .icons li span { font-size:1rem; }
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .c { display:table; height:48em; width:100%; background: #fbfbfb;}
.overview-content .c .content { background:#f7f7f7; display:table-cell; padding:10em 0; vertical-align:middle; width:50%; }
.overview-content .c .content .text { margin:0 auto; width:33em; }
.overview-content .c .content .text .note { color:#575757; font-size:1.25em; line-height:1.5; padding:1em 0 0; }
.overview-content .c .img-box { display:table-cell; vertical-align:middle; width:50%; }
.overview-content .c .img-box .img { background:url(img/1710161242247_c.jpg) 50% 100% no-repeat; background-size:100% auto; height:25em; }
.overview-content .c .img-box .desc { text-align:center; }
.overview-content .c .img-box .desc1 { color:#333; font-size:1.9em; line-height:1.2; margin-top:2em; }
.overview-content .c .img-box .desc2 { color:#979797; font-size:1.6em; line-height:1.2; margin-top:0.5em; }
@media screen and (max-width:736px){
  .overview-content .c { background:#f7f7f7; display:block; min-height:0; }
  .overview-content .c .content { background:transparent; display:block; padding:0; width:auto; }
  .overview-content .c .content .text { width:auto; }
  .overview-content .c .content .text .note { font-size:1.5rem; padding:0 6%; }
  .overview-content .c .img-box { display:block; padding:3rem 0 4rem; width:auto; }
  .overview-content .c .img-box .img { background:url(img/1710161242259_c.png) 50% 0 / 100% auto no-repeat; height:0; padding-bottom:44.84375%; }
  .overview-content .c .img-box .desc1 { font-size:2rem; }
  .overview-content .c .img-box .desc2 { font-size:1.75rem; }
  .eap245_v3_1 .c {height: auto;}
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .d { display:table; min-height:54em; width:100%; }
.overview-content .d .img { background:url(img/1710161242272_d.png) 50% 100% no-repeat; background-color:#92b9c6; background-size:60em auto; display:table-cell; width:50%; }
.overview-content .d .content { background:#4a596d; display:table-cell; padding:10em 0; vertical-align:middle; width:50%; }
.overview-content .d .content .text { color:#fff; margin:0 auto; width:33em; }
.eap245_v3_1 .d {background: url(img/1710161242297_1_d.jpg) center / cover no-repeat transparent;}
.eap245_v3_1 .d .img {background: url(img/1710161242313_1_d_phone.png) no-repeat transparent; background-position: 75% 100%; background-size: auto 80%;}
.eap245_v3_1 .d .content {background: none;}
.eap245_v3_1 .d .content .text {margin: unset; padding-left: 5em;}
@media screen and (max-width:736px){
  .overview-content .d { background:url(img/1710161242330_d.jpg) 50% 100% / 100% auto no-repeat; display:block; min-height:0; padding-bottom:68.75%; }
  .overview-content .d .img { display:none; }
  .overview-content .d .content { background:none; display:block; padding:0; width:auto; }
  .overview-content .d .content .text { color:inherit; width:auto; }
  .eap245_v3_1 .d {background-image: url(img/1710161242340_1_d.jpg)}
  .eap245_v3_1 .d .content .text {padding: 0;}
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .e { background:#f3f7f9; }
.overview-content .e .text { margin:0 auto; padding:6em 0 0; text-align:center; width:60em; }
.overview-content .e .img { background:url(img/1710161242350_e.png) 50% no-repeat; background-size:120em auto; height:42.25em; position:relative; }
.overview-content .e .img .desc { font-size:1.125em; line-height:1.2; margin-top:39.7%; position:absolute; top:0; width:10em; }
.overview-content .e .img .desc1 { right:80.5%; text-align:right; }
.overview-content .e .img .desc2 { left:81%; }
@media screen and (max-width:736px){
  .overview-content .e .text { padding:0; text-align:left; width:auto; }
  .overview-content .e .img { background:url(img/1710161242374_e.png) 50% 0 / 100% auto no-repeat; height:0; padding-bottom:64%; }
  .overview-content .e .img .desc { font-size:3vw; }
  .overview-content .e .img .desc1 { right:70%; }
  .overview-content .e .img .desc2 { left:67%; }
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .g { background:url(img/1710161242388_g.jpg) 50% 0 no-repeat; background-size:120em auto; padding-top:48em; }
.overview-content .g .text { margin:0 auto; padding-bottom:6em; text-align:center; width:66em; }
@media screen and (max-width:736px){
  .overview-content .g { background:url(img/1710161242420_g.jpg) 50% 0 / 100% auto no-repeat; padding-top:40%; }
  .overview-content .g .text { padding:0; text-align:left; width:auto; }
  .overview-content .g .text br { display:none; } 
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.overview-content .i { background:#18505c; padding:9em 0 10em; }
.overview-content .i .w1366:after { clear:both; content:""; display:block; }
.overview-content .i a { color:inherit!important; text-decoration:none; }
.overview-content .i .img { background:url(img/1710161242431_i-img.png) 50% no-repeat; background-size: contain; display:block; float:left; height:16em; width:28.6875em; }
.overview-content .i .text { color:#fff; float:right; padding-top:1em; width:45em; }
.overview-content .i .text .desc1 { font-size:1.5em; line-height:1.2; margin-top:1em; }
.overview-content .i .text .desc2 { background:#4acbd6; border-radius:0.2em; display:inline-block; font-size:1.3em; line-height:1.5; margin-top:0.5em; padding:0 0.4em; }
@media screen and (max-width:736px){
  .overview-content .i { padding:4rem 0 1rem; }
  .overview-content .i .img { float:none; height:0; margin:0 auto; padding-bottom:52.5%; width:88%; }
  .overview-content .i .text { float:none; padding-top:8rem; position:relative; width:auto; }
  .overview-content .i .text .desc { left:10%; position:absolute; }
  .overview-content .i .text .desc1 { font-size:2rem; top:0; }
  .overview-content .i .text .desc2 { font-size:2rem; top:5rem; }
}

/** */
.overview-content .w1500 { margin:0 auto; position:relative; max-width:93.75em; width: 88%;}
.overview-content .w1500:after { clear:both; content:""; display:block; }
@media (max-width: 736px) {
  .overview-content .w1500 { width: auto; }
}
.overview-content .section-smartcloud {padding-top: 8.125em;}
.overview-content .section-smartcloud .text {text-align:center;}
.overview-content .section-smartcloud .text p {width: 80%; margin:auto;}
.overview-content .section-smartcloud .text a:hover {color: #4acbd6;}
.overview-content .section-smartcloud .text a {color: #085563;}
.overview-content .section-smartcloud .img .inner {position: relative;}
.overview-content .section-smartcloud .bg-text {position:absolute; top:0; bottom:0; left:0; right:0;}
.overview-content .section-smartcloud .img-1 {width: 63.625em; margin: 3em auto 0;}
.overview-content .section-smartcloud .img-1 .inner {height: 0; padding-top: 52.6523%; background:url('img/1710161242444_smartcloud-bg-1.png') center no-repeat; background-size:contain;}
.overview-content .section-smartcloud .img-1 .bg-text {font-size: 1em; }
.overview-content .section-smartcloud .img-1 .des {position: absolute; font-size: 1.125em; line-height: 1.2;}
.overview-content .section-smartcloud .img-1 .des-1 {top: 48%; right: 97%; width: 6.667em; text-align:right;}
.overview-content .section-smartcloud .img-1 .des-2 {top: 20%; right: 101%; width: 8.5em; text-align:right;}
.overview-content .section-smartcloud .img-1 .des-3 {top: 8%; left: 32.5%; right: 53.7%; font-size: 1.25em;}
.overview-content .section-smartcloud .img-1 .des-4 {top: 12%; left: 60%; font-size: 1.25em;}
.overview-content .section-smartcloud .img-1 .des-5 {top: 55%; left: 60%; right: 25%; text-align: center;}
.overview-content .section-smartcloud .img-1 .des-7 {top: 42%; left: 98%; width: 11.111em;}
.overview-content .section-smartcloud .img-1 .des-8 {bottom: 6.5%; left: 61%; right: 15%; text-align: right;}
.overview-content .section-smartcloud .img-1 .des-cloud {top: 100%; left: 82%; right: -4%; text-align: center;}
.overview-content .section-smartcloud .note-container {position: relative;}
.overview-content .section-smartcloud .note-container:before {content: ''; display: block; position: absolute; bottom: 2em; right: 43%; background: url('img/1710161242456_smartcloud-bg-2.png') center no-repeat; background-size: contain; width: 44.625em; height: 25.5625em;}
.overview-content .section-smartcloud .note-text {margin-top: 3em; padding-bottom: 6.25em; padding-left: 54%; text-align: left; line-height: 1.4;}
.overview-content .section-smartcloud .note-title {display: inline-block;padding-bottom: .5em; font-size: 1.2em; line-height: 1.5;}
@media (max-width:736px) {
  .overview-content .section-smartcloud {padding-top: 0;}
  .overview-content .section-smartcloud .text {text-align: left;}
  .overview-content .section-smartcloud .text p {width: auto;}
  .overview-content .section-smartcloud .extra {padding-top: 6.25vw;background: #f3f6fb;}
  .overview-content .section-smartcloud .img-1 {width: 90%; margin-top: 0;}
  .overview-content .section-smartcloud .img-1 .inner {padding-top: 91%; background-image: url('img/1710161242464_smartcloud-bg-1.png')}
  .overview-content .section-smartcloud .img-1 .bg-text {font-size: 2.5vw; }
  .overview-content .section-smartcloud .img-1 .des {text-align: center;}
  .overview-content .section-smartcloud .img-1 .des-1 {top: 42vw; left: 2.5vw; right: 70vw; width: auto;}
  .overview-content .section-smartcloud .img-1 .des-2 {top: 22.5vw; left: -1.5vw; right: 72vw; width: auto;}
  .overview-content .section-smartcloud .img-1 .des-3 {top: 4vw; left: 40vw; right: 31vw; text-align: left;}
  .overview-content .section-smartcloud .img-1 .des-4 {top: 9vw; left: 75vw; right: -2.5vw; text-align: left;}
  .overview-content .section-smartcloud .img-1 .des-5 {top: 36.5vw; left: 75vw; right: -2.5vw; }
  .overview-content .section-smartcloud .img-1 .des-7 {top: 70vw; left: 72vw; right: -4.5vw; width: auto;}
  .overview-content .section-smartcloud .img-1 .des-8 {top: 71vw; bottom: auto; left: 53vw; right: 17vw; text-align: left;}
  .overview-content .section-smartcloud .img-1 .des-cloud {top: 60vw; bottom: 12.5vw; left: 25vw; right: 47vw;}
  .overview-content .section-smartcloud .note {margin-top: -5vw; padding: 0;}
  .overview-content .section-smartcloud .note-container:before {position: relative; width: 88vw;height: 50.38vw;margin:auto;right: auto; bottom: 0;background-position: top; background-size: 100% auto;}
  .overview-content .section-smartcloud .note-text {margin-top: 0; padding-bottom: 0; padding-left: 0;}
  .overview-content .section-smartcloud .note-text b {font-weight: 400;}
  .overview-content .section-smartcloud .note-text p {font-size: 3.875vw;}
}

#omada-app { background:#b7bac3; padding-bottom:60px; }
#omada-app .omada-wrap { margin:0 auto; position:relative; width:1200px; }
#omada-app .text { color:#000; margin:0 auto; padding:60px 0 0; text-align:center; width:960px; }
#omada-app .text h2 { color:inherit; font-size:50px; line-height:1.2; }
#omada-app .text .desc { color:inherit; font-size:18px; line-height:1.5; padding-top:25px; }
#omada-app .text .link { color:#0771b3; font-size:18px; line-height:1.5; padding-top:20px; }
#omada-app .text .link a { color:inherit; text-decoration:underline; }
#omada-app .icons { background:url(img/1710161242477_omada-icons.png) 50% no-repeat; height:70px; margin:40px auto; position:relative; width:267px; }
#omada-app .icons a { display:block; font-size:0; height:33px; opacity:0; position:absolute; right:0; width:104px; }
#omada-app .icons .apple { top:0; }
#omada-app .icons .google { bottom:0; }
#omada-app input[type="radio"] { position:fixed; top:-9999px; }
#omada-app .imgs { height:0; padding-bottom:46.5%; position:relative; }
#omada-app .imgs ul { margin:0; padding:0; }
#omada-app .imgs li { box-shadow:0 0 30px rgba(0,0,0,0.4); display:block; left:39.762%; position:absolute; top:11%; transform-origin:50% 50%; transition:all .5s linear; width:20.417%; will-change:transform; }
#omada-app .imgs li label { background-position:50%; background-repeat:no-repeat; background-size:contain; cursor:pointer; display:block; height:0; padding-bottom:177.778%; width:100%; }
#omada-app .imgs .li1 label { background-image:url(img/1710161242483_omada-app-screen-1.png) }
#omada-app .imgs .li2 label { background-image:url(img/1710161242490_omada-app-screen-2.png) }
#omada-app .imgs .li3 label { background-image:url(img/1710161242497_omada-app-screen-3.png) }
#omada-app .imgs .li4 label { background-image:url(img/1710161242505_omada-app-screen-4.png) }
#omada-app .imgs .li5 label { background-image:url(img/1710161242512_omada-app-screen-5.png) }
#omada-app .imgs .li6 label { background-image:url(img/1710161242518_omada-app-screen-6.png) }
#omada-app .imgs .li7 label { background-image:url(img/1710161242525_omada-app-screen-7.png) }
#omada-app .imgs .iphone { background:url(img/1710161242532_omada-app-iphone.png) 50% no-repeat; background-size:contain; height:0; left:38.5%; padding-bottom:46.5%; position:absolute; top:0; width:23%; z-index:5; }
#omada-app .imgs .iphone-bg { background-image:url(img/1710161242538_omada-app-iphone-bg.png); z-index:1; }
#omada-app-screen-1:checked ~ .imgs .li1,
#omada-app-screen-2:checked ~ .imgs .li2,
#omada-app-screen-3:checked ~ .imgs .li3,
#omada-app-screen-4:checked ~ .imgs .li4,
#omada-app-screen-5:checked ~ .imgs .li5,
#omada-app-screen-6:checked ~ .imgs .li6,
#omada-app-screen-7:checked ~ .imgs .li7 { left:39.762%; transform:scale(1); z-index:4 }
#omada-app-screen-1:checked ~ .imgs .li2,
#omada-app-screen-2:checked ~ .imgs .li3,
#omada-app-screen-3:checked ~ .imgs .li4,
#omada-app-screen-4:checked ~ .imgs .li5,
#omada-app-screen-5:checked ~ .imgs .li6,
#omada-app-screen-6:checked ~ .imgs .li7,
#omada-app-screen-7:checked ~ .imgs .li1 { transform:scale(0.93) translate(100%, 0); z-index:3; }
#omada-app-screen-1:checked ~ .imgs .li3,
#omada-app-screen-2:checked ~ .imgs .li4,
#omada-app-screen-3:checked ~ .imgs .li5,
#omada-app-screen-4:checked ~ .imgs .li6,
#omada-app-screen-5:checked ~ .imgs .li7,
#omada-app-screen-6:checked ~ .imgs .li1,
#omada-app-screen-7:checked ~ .imgs .li2 { transform:scale(0.85) translate(200%, 0); z-index:2; }
#omada-app-screen-1:checked ~ .imgs .li4,
#omada-app-screen-2:checked ~ .imgs .li5,
#omada-app-screen-3:checked ~ .imgs .li6,
#omada-app-screen-4:checked ~ .imgs .li7,
#omada-app-screen-5:checked ~ .imgs .li1,
#omada-app-screen-6:checked ~ .imgs .li2,
#omada-app-screen-7:checked ~ .imgs .li3 { transform:scale(0.77) translate(300%, 0); z-index:1; }
#omada-app-screen-1:checked ~ .imgs .li5,
#omada-app-screen-2:checked ~ .imgs .li6,
#omada-app-screen-3:checked ~ .imgs .li7,
#omada-app-screen-4:checked ~ .imgs .li1,
#omada-app-screen-5:checked ~ .imgs .li2,
#omada-app-screen-6:checked ~ .imgs .li3,
#omada-app-screen-7:checked ~ .imgs .li4 { transform:scale(0.77) translate(-300%, 0); z-index:1; }
#omada-app-screen-1:checked ~ .imgs .li6,
#omada-app-screen-2:checked ~ .imgs .li7,
#omada-app-screen-3:checked ~ .imgs .li1,
#omada-app-screen-4:checked ~ .imgs .li2,
#omada-app-screen-5:checked ~ .imgs .li3,
#omada-app-screen-6:checked ~ .imgs .li4,
#omada-app-screen-7:checked ~ .imgs .li5 { transform:scale(0.85) translate(-200%, 0); z-index:2; }
#omada-app-screen-1:checked ~ .imgs .li7,
#omada-app-screen-2:checked ~ .imgs .li1,
#omada-app-screen-3:checked ~ .imgs .li2,
#omada-app-screen-4:checked ~ .imgs .li3,
#omada-app-screen-5:checked ~ .imgs .li4,
#omada-app-screen-6:checked ~ .imgs .li5,
#omada-app-screen-7:checked ~ .imgs .li6 { transform:scale(0.93) translate(-100%, 0); z-index:3; }
@media screen and (max-width:736px){
  * { -webkit-tap-highlight-color:transparent; }
  #omada-app .omada-wrap { overflow:hidden; width:auto; }
  #omada-app .text { padding:0; text-align:left; width:auto; }
  #omada-app .text h2 { font-size:30px; padding:40px 6% 20px; }
  #omada-app .text .desc { font-size:18px; padding:0 6%; }
  #omada-app .text .link { font-size:18px; padding:0 6%; }
  #omada-app .icons { margin:30px 6%; }
  #omada-app .imgs { height:83.7vw; left:-40vw; padding-bottom:0; width:180vw; }
}

